$align: center;
$border: 1px solid #fff;
$fontIncrement: 1.2rem;

.b_table {
    margin: $spacing;
    @if ($align=='center') {
        margin: $spacing auto;
    }
    border-spacing: 0px;
    border: 1rem solid #fff;
    box-shadow: $shadow;
}

.b_table__h2 {
    margin: $spacing;
    text: {
        transform: uppercase;
        shadow: $shadow;
        align: $align;
    }
}

.b_table__tr {
    transition: all .8s;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, .4);
        transition: all .2s;
    }
    &--selected {
        background: rgba(255, 0, 0, .4);
    }
}

.b_table__td {
    border-top: $border;
    padding: $spacing;
    text-align: $align;
    &:nth-of-type(1) {
        text-align: left;
        font-weight: bold;
        border-right: $border;
        background: rgba(0, 0, 0, .1);
    }
    &--red {
        font-size: calc(1rem + #{$fontIncrement});
        padding: ($spacing - $fontIncrement) $spacing;
        background: rgba(255, 0, 0, .4);
        border: {
            left: $border;
            right: $border;
        }
    }
}

.b_table__th {
    @extend .b_table__td;
    font-weight: bold;
    background: rgba(0, 0, 0, .1);
}